                                                    <div class="wpb_wrapper">
                                                        <div id="penci_fancy_heading__51142072"
                                                             class="penci-block-vc penci-fancy-heading penci-heading-text-left vc_custom_1550116663970 vc_custom_1550116663975 vc_custom_1550116663976 vc_custom_1550116663977">
                                                            <div class="penci-fancy-heading-inner">
                                                                <br>
                                                                <h2 class="penci-heading-title">Про нас
                                                                </h2>
                                                                <br>
                                                                <div class="penci-heading-content entry-content">
                                                                    Інститут Інноваційного Врядування це аналітичний центр та громадська організація, мета якої полягає у сприянні розвитку інклюзивного е-урядування, захисту цифрових прав громадян та забезпеченні доступності та інклюзивності публічних та приватних онлайн сервісів. У своїй роботі ми керуємося підходом, який заснований на правах людини, гендерній рівності та інноваціях.
                                                                </div>
                                                            </div>
                                                            <br>
                                                            <div class="widget  penci-block-vc penci-widget-sidebar style-title-3 style-title-left widget_categories">
                                                                <div class="penci-block-heading">
                                                                    <h4 class="widget-title penci-block__title">
                                                                    </h4>
                                                                </div>
                                                            </div>
                                                            <br>
                                                            <div class="penci-fancy-heading-inner">
                                                                <h2 class="penci-heading-title">Що ми робимо?
                                                                </h2>
                                                                <br>
                                                                <div class="penci-heading-content entry-content">
                                                                    Наша організація займається аналітичною та дослідницькою роботою, а також реалізацією низки проєктів в Україні та країнах Східного Партнерства.
                                                                </div>
                                                            </div>
                                                            <br>
                                                            <div class="widget  penci-block-vc penci-widget-sidebar style-title-3 style-title-left widget_categories">
                                                                <div class="penci-block-heading">
                                                                    <h4 class="widget-title penci-block__title">
                                                                    </h4>
                                                                </div>
                                                            </div>
                                                            <br>

                                                            <style>#penci_fancy_heading__51142072.penci-fancy-heading .penci-heading-content {
                                                                    margin-bottom: 0;
                                                                }

                                                                #penci_fancy_heading__51142072.penci-fancy-heading .penci-heading-content {
                                                                    max-width: 80%;
                                                                }

                                                                #penci_fancy_heading__51142072 .penci-separator {
                                                                    width: 60px;
                                                                }

                                                                #penci_fancy_heading__51142072.penci-fancy-heading .penci-heading-title {
                                                                    font-style: normal;
                                                                    margin: auto;
                                                                    max-width: 80%;
                                                                }

                                                                @media screen and (min-width: 768px ) {
                                                                    #penci_fancy_heading__51142072.penci-fancy-heading .penci-heading-title {
                                                                        font-size: 30px !important;
                                                                    }
                                                                }

                                                                #penci_fancy_heading__51142072.penci-fancy-heading .penci-heading-subtitle {
                                                                    font-style: normal;
                                                                }

                                                                @media screen and (min-width: 768px ) {
                                                                    #penci_fancy_heading__51142072.penci-fancy-heading .penci-heading-content {
                                                                        font-size: 20px !important;
                                                                        text-align: justify;
                                                                        margin: auto;
                                                                    }
                                                                }

                                                                #penci_fancy_heading__51142072 .penci-separator .penci-heading-icon {
                                                                    margin-left: 15px;
                                                                    margin-right: 15px;
                                                                }</style>
                                                        </div>
                                                    </div>