                                                    <div class="wpb_wrapper">
                                                        <div id="penci_fancy_heading__51142072"
                                                             class="penci-block-vc penci-fancy-heading penci-heading-text-left vc_custom_1550116663970 vc_custom_1550116663975 vc_custom_1550116663976 vc_custom_1550116663977">
                                                            <div class="penci-fancy-heading-inner">
                                                                <br>
                                                                <h2 class="penci-heading-title">About
                                                                </h2>
                                                                <br>
                                                                <div class="penci-heading-content entry-content">
                                                                The Institute of Innovative Governance is an independent, non-governmental organization which promotes public innovations and digital inclusion in order to ensure that everyone has access to digital services and technologies. IIG is a champion for gender equality, human rights-based approach and innovations which are our guiding principles and values. In practice, this means working closely with people living in poverty, vulnerable groups, communities and social movements. 

                                                                Together, we deliver grassroot projects, educational trainings and programmes, expertise and advocacy work. Our strategy is to achieve digital inclusion and fight digital divide through public innovations driven by vulnerable groups and communities. Digital inclusion is critical for achieving sustainable human development, increasing transparency, promoting respect for fundamental human rights, including digital rights and enhancing democracy.

                                                                Nurture innovation. Respect human rights. Shape the future.
                                                                </div>
                                                            </div>
                                                            <br>
                                                            <div class="widget  penci-block-vc penci-widget-sidebar style-title-3 style-title-left widget_categories">
                                                                <div class="penci-block-heading">
                                                                    <h4 class="widget-title penci-block__title">
                                                                    </h4>
                                                                </div>
                                                            </div>
                                                            <br>
                                                            <div class="penci-fancy-heading-inner">
                                                                <h2 class="penci-heading-title">What we do?
                                                                </h2>
                                                                <br>
                                                                <div class="penci-heading-content entry-content">
                                                                    Our priority is to keep up with a fast pace of technological and innovational advancement. Therefore, conducting independent high-quality research and the implementation of civic-tech projects beneficial to the public interest is the essence of what we do, guided by the core principles of  our organization – innovation and human rights.

                                                                    Our experts will find the innovation-driven solutions to the hottest issues via thorough and empirical research. We base our analysis on strong evidence, reliable data and the usage of an appropriate methodology. Our team of analysts produces on a monthly basis policy briefs, aimed at bringing the most alarming issues to the agenda and propose the effective policy options within the European Union. A group of policy analysts issues regularly analytical articles focusing on innovations and the future of economy, work, education, society, health, environment, digital trends and threats. And the advisory board consisting of well-known and experienced professionals in the field always make sure that the research and analytical work is headed in the right direction.

                                                                    We are also committed to challenging ‘the status quo’ of the current state of affairs in the institutional structures and civil society, strengthening the capacity of innovative democracy and protecting human rights by introducing and implementing civic-tech projects.  The basis of our work is strong methodology, reliable evidence and data, professional advocacy and concise findings which will help to shape the policy.
                                                                </div>
                                                            </div>
                                                            <br>
                                                            <div class="widget  penci-block-vc penci-widget-sidebar style-title-3 style-title-left widget_categories">
                                                                <div class="penci-block-heading">
                                                                    <h4 class="widget-title penci-block__title">
                                                                    </h4>
                                                                </div>
                                                            </div>
                                                            <br>

                                                            <style>#penci_fancy_heading__51142072.penci-fancy-heading .penci-heading-content {
                                                                    margin-bottom: 0;
                                                                }

                                                                #penci_fancy_heading__51142072.penci-fancy-heading .penci-heading-content {
                                                                    max-width: 80%;
                                                                }

                                                                #penci_fancy_heading__51142072 .penci-separator {
                                                                    width: 60px;
                                                                }

                                                                #penci_fancy_heading__51142072.penci-fancy-heading .penci-heading-title {
                                                                    font-style: normal;
                                                                    margin: auto;
                                                                    max-width: 80%;
                                                                }

                                                                @media screen and (min-width: 768px ) {
                                                                    #penci_fancy_heading__51142072.penci-fancy-heading .penci-heading-title {
                                                                        font-size: 30px !important;
                                                                    }
                                                                }

                                                                #penci_fancy_heading__51142072.penci-fancy-heading .penci-heading-subtitle {
                                                                    font-style: normal;
                                                                }

                                                                @media screen and (min-width: 768px ) {
                                                                    #penci_fancy_heading__51142072.penci-fancy-heading .penci-heading-content {
                                                                        font-size: 20px !important;
                                                                        text-align: justify;
                                                                        margin: auto;
                                                                    }
                                                                }

                                                                #penci_fancy_heading__51142072 .penci-separator .penci-heading-icon {
                                                                    margin-left: 15px;
                                                                    margin-right: 15px;
                                                                }</style>
                                                        </div>
                                                    </div>