{% extends 'components/base.html'%}

{%block content%}

    <div id="page" class="site" style="transform: none;">

        <div id="content" class="site-content" style="transform: none;">
            <div id="primary" class="content-area" style="transform: none;">
                <main id="main" class="site-main" style="transform: none;">
                    <div class="penci-container" style="transform: none;">
                        <div class="vc_row wpb_row vc_row_69901727 vc_row-fluid penci-pb-row vc_custom_1550117414279 vc_row-has-fill">
                            <div class="wpb_column vc_column_container vc_col-sm-12 penci-col-12 vc_col-has-fill">
                                <div class="vc_column-inner wpb_column vc_column_container vc_col-sm-12 penci-col-12 vc_col-has-fill vc_custom_1550117436908">
                                    <div class="wpb_wrapper">
                                        <div class="vc_row wpb_row vc_inner_44678440 vc_inner vc_row-fluid penci-pb-row vc_custom_1550115754911 vc_row-o-equal-height vc_row-o-content-middle vc_row-flex">
                                            <div class="wpb_column vc_column_container vc_col-sm-12 penci-col-12">
                                                <div class="vc_column-inner wpb_column vc_column_container vc_col-sm-12 penci-col-12 vc_custom_1550115720271">
                                                    {% if request.session.language == 'ua'%}
                                                        {% include 'about/about_ua.html' %}
                                                    {% else %}
                                                        {% include 'about/about_en.html' %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                        <style>@media (min-width: 768px) {
                                                .vc_inner_44678440 {
                                                    max-width: 1170px;
                                                }
                                            }

                                            @media (min-width: 768px) {
                                                .vc_inner_44678440 {
                                                    position: relative;
                                                    left: 50%;
                                                    transform: translateX(-50%);
                                                }
                                            }

                                            @media (min-width: 960px) {
                                                .vc_column-gap-30.vc_inner_44678440 {
                                                    margin-left: 0;
                                                    margin-right: 0;
                                                }
                                            }

                                            .vc_inner_44678440 {
                                                z-index: 2;
                                            }</style>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>

{% endblock %}
