{% extends 'components/base.html'%}

{%block content%}

    <div id="page" class="site" style="transform: none;">

        <div id="content" class="site-content" style="transform: none;">
            <div id="primary" class="content-area" style="transform: none;">
                <main id="main" class="site-main" style="transform: none;">
                    <div class="penci-container" style="transform: none;">
                        <div class="vc_row wpb_row vc_row_69901727 vc_row-fluid penci-pb-row vc_custom_1550117414279 vc_row-has-fill">
                            <div class="wpb_column vc_column_container vc_col-sm-12 penci-col-12 vc_col-has-fill">
                                <div class="vc_column-inner wpb_column vc_column_container vc_col-sm-12 penci-col-12 vc_col-has-fill vc_custom_1550117436908">
                                    <div class="wpb_wrapper">
                                        <div class="vc_row wpb_row vc_inner_44678440 vc_inner vc_row-fluid penci-pb-row vc_custom_1550115754911 vc_row-o-equal-height vc_row-o-content-middle vc_row-flex">
                                            <div class="wpb_column vc_column_container vc_col-sm-12 penci-col-12">
                                                <div class="vc_column-inner wpb_column vc_column_container vc_col-sm-12 penci-col-12 vc_custom_1550115720271">
                                                    <div class="wpb_wrapper">
                                                        <div id="penci_fancy_heading__51142072"
                                                             class="penci-block-vc penci-fancy-heading penci-heading-text-left vc_custom_1550116663970 vc_custom_1550116663975 vc_custom_1550116663976 vc_custom_1550116663977">
                                                            <div class="penci-fancy-heading-inner">
                                                                <br>
                                                                <h2 class="penci-heading-title">About
                                                                </h2>
                                                                <br>
                                                                <div class="penci-heading-content entry-content">EDDA is
                                                                    a European
                                                                    association which
                                                                    represents think-tanks, civil society organizations
                                                                    and experts
                                                                    focusing
                                                                    on digital policies and digital transformation. We
                                                                    are working with
                                                                    European Development and International Cooperation
                                                                    policies to share
                                                                    European experience of digital transformation around
                                                                    the globe. At
                                                                    the
                                                                    same time, EDDA is focusing on influencing other
                                                                    non-development EU
                                                                    policies related to digital and tech progress in
                                                                    order to fight
                                                                    digital
                                                                    divide within the EU.
                                                                    EDDA unites 50+ organizations from different sectors
                                                                    including
                                                                    non-governmental organizations, experts,
                                                                    think-tanks and businesses
                                                                    from
                                                                    different fields.
                                                                </div>
                                                            </div>
                                                            <br>
                                                            <div class="widget  penci-block-vc penci-widget-sidebar style-title-3 style-title-left widget_categories">
                                                                <div class="penci-block-heading">
                                                                    <h4 class="widget-title penci-block__title">
                                                                    </h4>
                                                                </div>
                                                            </div>
                                                            <br>
                                                            <div class="penci-fancy-heading-inner">
                                                                <h2 class="penci-heading-title">Our vision
                                                                </h2>
                                                                <br>
                                                                <div class="penci-heading-content entry-content">A
                                                                    European Union that
                                                                    promotes and nurtures digital development within its
                                                                    borders, its
                                                                    Neighbourhood and further abroad to fight poverty,
                                                                    inequalities and
                                                                    bring prosperity and justice to the world.
                                                                </div>
                                                            </div>
                                                            <br>
                                                            <div class="widget  penci-block-vc penci-widget-sidebar style-title-3 style-title-left widget_categories">
                                                                <div class="penci-block-heading">
                                                                    <h4 class="widget-title penci-block__title">
                                                                    </h4>
                                                                </div>
                                                            </div>
                                                            <br>
                                                            <div class="penci-fancy-heading-inner">
                                                                <h2 class="penci-heading-title">What we do?
                                                                </h2>
                                                                <br>
                                                                <div class="penci-heading-content entry-content">
                                                                    <ul>
                                                                        <li>Policy expertise and advocacy at the EU
                                                                            level
                                                                        </li>
                                                                        <li>Cooperation on EU funding schemes</li>
                                                                        <li>Projects implementation</li>
                                                                        <li>Organization of high-level meetings and
                                                                            events in the EU
                                                                        </li>
                                                                        <li>Knowledge management and capacity building
                                                                            for our members
                                                                        </li>
                                                                        <li>
                                                                            Communication support
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <br>
                                                            <div class="widget  penci-block-vc penci-widget-sidebar style-title-3 style-title-left widget_categories">
                                                                <div class="penci-block-heading">
                                                                    <h4 class="widget-title penci-block__title">
                                                                    </h4>
                                                                </div>
                                                            </div>
                                                            <br>

                                                            <style>#penci_fancy_heading__51142072.penci-fancy-heading .penci-heading-content {
                                                                    margin-bottom: 0;
                                                                }

                                                                #penci_fancy_heading__51142072.penci-fancy-heading .penci-heading-content {
                                                                    max-width: 80%;
                                                                }

                                                                #penci_fancy_heading__51142072 .penci-separator {
                                                                    width: 60px;
                                                                }

                                                                #penci_fancy_heading__51142072.penci-fancy-heading .penci-heading-title {
                                                                    font-style: normal;
                                                                    margin: auto;
                                                                    max-width: 80%;
                                                                }

                                                                @media screen and (min-width: 768px ) {
                                                                    #penci_fancy_heading__51142072.penci-fancy-heading .penci-heading-title {
                                                                        font-size: 30px !important;
                                                                    }
                                                                }

                                                                #penci_fancy_heading__51142072.penci-fancy-heading .penci-heading-subtitle {
                                                                    font-style: normal;
                                                                }

                                                                @media screen and (min-width: 768px ) {
                                                                    #penci_fancy_heading__51142072.penci-fancy-heading .penci-heading-content {
                                                                        font-size: 20px !important;
                                                                        text-align: justify;
                                                                        margin: auto;
                                                                    }
                                                                }

                                                                #penci_fancy_heading__51142072 .penci-separator .penci-heading-icon {
                                                                    margin-left: 15px;
                                                                    margin-right: 15px;
                                                                }</style>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <style>@media (min-width: 768px) {
                                                .vc_inner_44678440 {
                                                    max-width: 1170px;
                                                }
                                            }

                                            @media (min-width: 768px) {
                                                .vc_inner_44678440 {
                                                    position: relative;
                                                    left: 50%;
                                                    transform: translateX(-50%);
                                                }
                                            }

                                            @media (min-width: 960px) {
                                                .vc_column-gap-30.vc_inner_44678440 {
                                                    margin-left: 0;
                                                    margin-right: 0;
                                                }
                                            }

                                            .vc_inner_44678440 {
                                                z-index: 2;
                                            }</style>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>

{% endblock %}
