<header class="entry-header penci-entry-header penci-title-">
    <div class="penci-entry-categories">
        <span class="penci-cat-links">
        <a href="/areas/{{article.area.title}}"
           rel="category tag">{{article.area.title}}</a>
        </span>
    </div>
    <h1 class="entry-title penci-entry-title penci-title-">
        {{ article.title }}
    </h1>
    <div class="entry-meta penci-entry-meta">
        <span class="entry-meta-item penci-byline">by
            <span class="author vcard">
                <a class="url fn n">{{article.author}}</a>
            </span>
        </span>
        <span class="entry-meta-item penci-posted-on">
            <i class="fa fa-clock-o"></i>
            <time class="entry-date published"
                  datetime="{{article.area.date_created}}">{{article.area.date_created}}</time>
        </span>
        {% comment %} <span class="entry-meta-item penci-post-countview">
            <span class="entry-meta-item penci-post-countview penci_post-meta_item">
                <i class="fa fa-eye"></i>
                <span class="penci-post-countview-number penci-post-countview-p70">{{ $article->views_count }}</span>
            </span>
        </span> {% endcomment %}
    </div><!-- .entry-meta -->

    <span class="penci-social-buttons penci-social-share-footer"><span
            class="penci-social-share-text">Share</span>
        <a href="#" class="penci-post-like penci_post-meta_item  single-like-button penci-social-item like"
           data-post_id="70"
           title="Like"
           data-like="Like"
           data-unlike="Unlike">
                <i class="fa fa-thumbs-o-up"></i>
                <span class="penci-share-number">1</span>
        </a>
        <a class="penci-social-item facebook" target="_blank"
           rel="noopener" title=""
           href="https://www.facebook.com/sharer/sharer.php?u=https://europeandigital.org/news/{{article.title_to_url}}">
                <i class="fa fa-facebook"></i>
        </a>
        <a class="penci-social-item twitter" target="_blank"
           rel="noopener" title=""
           href="https://twitter.com/intent/tweet?text=Ahttps://europeandigital.org/news/{{article.title_to_url}}">
                <i class="fa fa-twitter"></i>
        </a>
        <a class="penci-social-item google_plus" target="_blank"
           rel="noopener" title=""
           href="https://plus.google.com/share?url=https://europeandigital.org/news/{{article.title_to_url}}">
                <i class="fa fa-google-plus"></i>
        </a>
        <a class="penci-social-item pinterest" target="_blank"
           rel="noopener" title=""
           href="http://pinterest.com/pin/create/button?url=https://europeandigital.org/news/{{article.title_to_url}}&amp;media=image.jpg&amp;description=https://europeandigital.org/news/{{article.title_to_url}}">
                <i class="fa fa-pinterest"></i>
        </a>
        <a class="penci-social-item linkedin" target="_blank"
           rel="noopener" title=""
           href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https://europeandigital.org/news/{{article.title_to_url}}&amp;title=https://europeandigital.org/news/{{article.title_to_url}}">
                <i class="fa fa-linkedin"></i>
        </a>
        <a class="penci-social-item tumblr" target="_blank"
           rel="noopener" title=""
           href="https://www.tumblr.com/share/link?url=https://europeandigital.org/news/{{article.title_to_url}}&amp;name=https://europeandigital.org/news/{{article.title_to_url}}">
                <i class="fa fa-tumblr"></i>
        </a>
        <a class="penci-social-item reddit" target="_blank"
           rel="noopener" title=""
           href="https://reddit.com/submit?url=https://europeandigital.org/news/{{article.title_to_url}}&amp;title=https://europeandigital.org/news/{{article.title_to_url}}">
                <i class="fa fa-reddit"></i>
        </a>
        <a class="penci-social-item email" target="_blank"
           rel="noopener"
           href="mailto:?subject=https://europeandigital.org/news/{{article.title_to_url}}&amp;BODY=https://europeandigital.org/news/{{article.title_to_url}}">
                <i class="fa fa-envelope"></i>
        </a>
</span>
</header>
<!-- .entry-header -->