{% load static %} 
<footer class="site-footer">
  <div class="wrapper wide four-column">
    <div class="footer-widget col col-1 flex-expand">
      <div>
        <a href="/" rel="home">
          <img src="{% static '/images/logo4 white.png' %}" alt="EDDA" class="footer-logo" />
        </a>
        <div class="footer-social-icons">
          <a href="https://www.facebook.com/instinnovgov/" target="_blank">
            <i class="fab2 fa fa-facebook"></i>
          </a>
          <a href="mailto:anna.melenchuk@instingov.org" target="_blank">
            <i class="fab2 fa fa-envelope"></i>
          </a>
          <a href="https://www.linkedin.com/company/institute-of-innovative-governance/about/" target="_blank">
            <i class="fab2 fa fa-linkedin"></i>
          </a>
        </div>
      </div>
      <p class="footer-copyright">Copyright © {% now 'Y' %} </p>
    </div>
    <div class="footer-widget footer-widget-2 col col-2">
      <section id="custom_html-2" class="widget_text widget widget_custom_html">
        <h3 class="widget-title">Contact Us</h3>
        <div class="textwidget custom-html-widget">
          <p>
            Tohu 3-10a Tallinn 12012 Estonia Ruslana Diadiun<br />
            +37256860316
          </p>

          <p>ruslana.diadiun@instingov.org</p>

          <p>
            rue Limauge 13A, 1050<br />
            +32493032984
          </p>

          <p>annnychkamelenchuk@gmail.com</p>
        </div>
      </section>
    </div>
{#    <div class="footer-widget footer-widget-3 col col-1">#}
{#      <section id="nav_menu-2" class="widget widget_nav_menu">#}
{#        <div class="menu-footer-menu-container">#}
{#          <ul id="menu-footer-menu" class="menu">#}
{#            <li id="menu-item-20440" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-20440">#}
{#              <a href="/">Home</a>#}
{#            </li>#}
{#            <li id="menu-item-20439" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-20439">#}
{#              <a href="/news">News</a>#}
{#            </li>#}
{#            <li id="menu-item-21059" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-21059">#}
{#              <a href="/about">About</a>#}
{#            </li>#}
{#            <li id="menu-item-20441" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-20441">#}
{#              <a href="/contact">Contacts</a>#}
{#            </li>#}
{#            {% comment %} <li id="menu-item-20441" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-20441">#}
{#              <a href="/about/vacancies">Vacancies</a>#}
{#            </li> {% endcomment %}#}
{#          </ul>#}
{#        </div>#}
{#      </section>#}
{#    </div>#}
    <div class="footer-widget footer-widget-4 col col-1">
      <section id="custom_html-2" class="widget_text widget widget_custom_html">
        <h3 class="widget-title">Our Newsletter</h3>
        <form style="margin-top: 15px" method="post" action="{% url 'subscribe' %}" class="js-sign-up">
          {% csrf_token %}
          <input type="hidden" name="action" value="newsletter_form" />
          <input
            type="name"
            name="email"
            class="footer-newsletter-input js-email"
            placeholder="Enter your email"
          />
          <input
            type="name"
            name="name"
            class="footer-newsletter-input js-email"
            placeholder="Enter your name"
          />
          <input
            type="submit"
            value="Subscribe"
            class="footer-newsletter-btn"
          />
          <p class="form-notification js-notify"></p>
        </form>
      </section>
    </div>
  </div>
</footer>
