{% load static %}

<div class="site-header-wrapper penci-trans-nav">
  <div id="masthead-sticky-wrapper" class="sticky-wrapper" style="height: 80px">
    <header
      id="masthead"
      class="site-header header--s1"
      data-height="100"
      itemscope="itemscope"
      itemtype="http://schema.org/WPHeader"
    >
      <div class="penci-container-1170 header-content__container">
        <div class="site-branding">
          <h2>
            <a href="/" class="custom-logo-link" rel="home">
              <img
                width="133"
                height="20"
                src="{% static '/images/logo1.png' %}"
                class="custom-logo"
              />
            </a>
          </h2>
        </div>
        <!-- .site-branding -->
        <nav
          id="site-navigation"
          class="main-navigation pencimn-slide_down"
          itemscope=""
          itemtype="http://schema.org/SiteNavigationElement"
        >
          <ul id="menu-main-menu" class="menu">
            <li id="menu-item-16" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-16">
              <a href="/" itemprop="url">Home</a>
            </li>
            <li id="menu-item-13" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13">
            <a itemprop="url">
                <span class="vp45yf z1asCe bjaP2b" style="right: 16px">
                  Areas of work
                  <svg
                    focusable="false"
                    style="width: 20px; margin: -5px"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                  >
                    <path
                      d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"
                    ></path>
                  </svg>
                </span>
              </a>
              <ul class="sub-menu">
                {% for area in areas %}
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-312">
                  <a href="/areas/{{area.title_to_url}}">{{area.title}}</a>
                </li>
               {% endfor %}
              </ul>
            </li>
            <li id="menu-item-13" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13">
            <a itemprop="url">
                <span class="vp45yf z1asCe bjaP2b" style="right: 16px">
                  Projects
                  <svg
                    focusable="false"
                    style="width: 20px; margin: -5px"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                  >
                    <path
                      d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"
                    ></path>
                  </svg>
                </span>
              </a>
              <ul class="sub-menu">
                {% for project in projects %}
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-312">
                  <a href="/projects/{{project.title_to_url}}">{{project.title}}</a>
                </li>
               {% endfor %}
              </ul>
            </li>
            <li
              id="menu-item-16"
              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-16"
            >
              <a href="/about" itemprop="url">About</a>
            </li>
            <li
              id="menu-item-16"
              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-16"
            >
              <a href="/contact" itemprop="url">Contact</a>
            </li>
          </ul>
        </nav>
        <!-- #site-navigation -->
        <div class="header__social-search">
          <div class="header__social-media">
            <div class="header__content-social-media">
              <a
                class="social-media-item socail_media__facebook"
                target="_blank"
                href="#"
                title="Facebook"
                rel="noopener"
              >
                <span class="socail-media-item__content">
                  <i class="fa fa-facebook"></i>
                  <span class="social_title screen-reader-text">Facebook</span>
                </span>
              </a>
              <a
                class="social-media-item socail_media__email_me"
                target="_blank"
                href="#"
                title="Email"
                rel="noopener"
              >
                <span class="socail-media-item__content">
                  <i class="fa fa-envelope"></i>
                  <span class="social_title screen-reader-text">Email</span>
                </span>
              </a>
              <a
                class="social-media-item socail_media__twitter"
                target="_blank"
                href="#"
                title="Twitter"
                rel="noopener"
              >
                <span class="socail-media-item__content">
                  <i class="fa fa-twitter"></i>
                  <span class="social_title screen-reader-text">Twitter</span>
                </span>
              </a>
              <a
                class="social-media-item socail_media__linkedin"
                target="_blank"
                href="#"
                title="LinkedIn"
                rel="noopener"
              >
                <span class="socail-media-item__content">
                  <i class="fa fa-linkedin"></i>
                  <span class="social_title screen-reader-text">LinkedIn</span>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>
  </div>
  <!-- #masthead -->
</div>
