{% load static %}

<link href="{% static '/css/hero.css' %}" rel="stylesheet" type="text/css"/>


<div class="hero">
    <div class="hero-inner wrap">
        <div class="hero__picture-outer" style="background-color:#b3cde0;">
        {% if hero_image %}
            <img style="width: 100%; height: 100%; object-fit: contain;" src="{{hero_image.url}}">
        {% else %}
            <img style="width: 100%; height: 125%; object-fit: contain;" src="{% static '/images/main2.png' %}">
        {% endif %}
        </div>
        <div class="hero__content">
        </div>
    </div>
</div>